@import '_minireset';
@import '_variables';
@import '_font';

body,
html {
  font-size: 10px;
}

body {
  position: relative;
}

* {
  font-family: 'Montserrat',
    sans-serif;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  z-index: 1;
}

// <Popup>
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.form {
  max-width: 56rem;
  background-color: #fff;
  border-radius: 1.6rem;
  overflow: hidden;
  margin: 0 auto;
  align-items: center;
  margin-top: 10vh;
}

// <button>
.button {
  color: #fff;
  background-color: $accent-color;

  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;

  padding: .8rem 1.2rem;
  border: none;
  border-radius: .6rem;

  cursor: pointer;
  transition: .2s ease-in-out;

  &:hover {
    background-color: darken($accent-color, 10%);
  }

  &:active {
    opacity: .8;
  }
}

// <form-header>
.form-header {
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 2rem 1.6rem 3.2rem;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: .1rem;
    width: 100%;
    height: .1rem;
    background-color: $secondary-color;
  }
}

.form-header__title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: $main-text-color;
}

.form-header__close {
  font-size: 2rem;
  color: #7F899E;
  cursor: pointer;
}

// <feedback (fb)>
.fb {
  padding: 2.4rem 3.2rem;
}

.fb__info {
  display: flex;
  align-items: center;
  margin-bottom: 3.2rem;
}

.fb__preview-img {
  border-radius: .6rem;
  overflow: hidden;
  width: 10.2rem;
  margin-top: -0.1rem;
}

.fb__description {
  padding-left: 2rem;
  flex: 1 1 auto;
}

.fb__work-name {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin-bottom: 0.3rem;
  color: $main-text-color;
}

.fb__author-name {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: $secondary-text-color;
}

// <Rating>
.fb__rating {
  display: grid;
  grid-template-areas:
    "stars__item stars__item";
}

.stars__name {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  color: $main-text-color;
}

.list {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  max-width: 17rem;
  margin: 0 -2.9rem 1.6rem -0.1rem;
}

.list__star {
  font-size: 35px;
  color: $secondary-color;
  cursor: pointer;
  margin: -3px 0 0 0;
  transition: color .2s ease-in-out;
}

.list__star:hover,
.list__star:hover~.list__star {
  color: $accent-color;
}

.list[data-total-value="1"] .list__star:nth-child(n + 5),
.list[data-total-value="2"] .list__star:nth-child(n + 4),
.list[data-total-value="3"] .list__star:nth-child(n + 3),
.list[data-total-value="4"] .list__star:nth-child(n + 2),
.list[data-total-value="5"] .list__star:nth-child(n + 1) {
  color: $accent-color;
}

.list__star--checked {
  color: $accent-color;
}

// <Comment&Photo>

.fb__comment {
  width: 100%;
  height: 10rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 1.2rem;
  margin-top: 0.8rem;
  resize: none;
  background-color: #fafafa;
  border: .1rem solid #EAECF0;
  border-radius: .6rem;

  &::placeholder {
    color: #7F899E;
  }
}

.fb__comment-count {
  display: block;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: right;
  color: #7F899E;
  margin-top: 0.1rem;
  margin-bottom: 1.6rem;
}

.fb__attach {
  display: flex;
}

.fb__attach input {
  position: absolute;
  left: -9000px;
}

.fb__attach-block {
  width: 80px;
  height: 80px;
  border-radius: .6rem;
}

.fb__attach-block:not(:last-child) {
  margin-right: 0.8rem;
}

.fb__attach-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9AA2B7;
  font-size: 3rem;
  padding-bottom: 1px;
  border: .1rem solid $secondary-color;
  background: #F3F4F6;
  cursor: pointer;
  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: darken(#F3F4F6, 2.5%);
  }
}

// <form-footer>
.form-footer {
  display: flex;
  justify-content: flex-end;
  padding: 1.6rem;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: .1rem;
    background-color: $secondary-color;
  }
}