@import '_minireset.scss';
@import '_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body,
html {
  font-size: 10px;
}

body {
  position: relative;
}

* {
  font-family: 'Montserrat',
    sans-serif;
}

.main {
  height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

// Popup
.popup {
  // display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  padding-top: 10vh;
  background: $bg-color;
}

.form {
  max-width: 56rem;
  background: #fff;
  border-radius: 1.6rem;
  overflow: hidden;
  margin: 0 auto;
  align-items: center;
  z-index: 3;
  padding: 1.6rem 1.6rem 1.6rem 3.2rem;
}

// button
.button {
  color: #fff;
  background-color: $accent-color;

  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;

  padding: .8rem 1.2rem;
  border: none;
  border-radius: .6rem;

  cursor: pointer;
  transition: .2s ease-in-out;

  &:hover {
    background-color: darken($accent-color, 10%);
  }

  &:active {
    opacity: .8;
  }
}

// Message
.message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  background: #15a758;
  border-radius: .6rem;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.08);
}

.message__text {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
  padding: 0.8rem 1.4rem .8rem 1.2rem;
  color: #fff;
}

.message__close {
  font-weight: 600;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin: 0 1.4rem 0 0;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, .4) url(/img/close.svg) center no-repeat;
}

// <form-header>
.form-header {
  display: flex;
  justify-content: space-between;
  // padding: 1.6rem 2rem 1.6rem 3.2rem;
  padding: 0 0 1.6rem 0;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: -3.2rem;
    bottom: .1rem;
    width: 120%;
    height: .1rem;
    background-color: $secondary-color;
  }
}

.form-header__title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: $main-text-color;
}

.form-header__title--mobile {
  display: none;
}

.form-header__close {
  font-size: 2rem;
  color: #7F899E;
  cursor: pointer;
}

// feedback (fb)
.fb {
  padding: 2.4rem 0 0 0;
}

.fb__info {
  display: flex;
  align-items: center;
  margin-bottom: 3.2rem;
}

.fb__preview-img {
  border-radius: .6rem;
  overflow: hidden;
  width: 10.2rem;
  margin-top: -0.1rem;
}

.fb__description {
  padding-left: 2rem;
  flex: 1 1 auto;
}

.fb__work-name {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  margin-bottom: 0.3rem;
  color: $main-text-color;
}

.fb__author-name {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: $secondary-text-color;
}

// Rating
.fb__rating {
  display: grid;
  grid-template-areas:
    "stars__item stars__item";
}

.stars__name {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  color: $main-text-color;
}

.list {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  max-width: 17rem;
  margin: 0 -4.5rem 1.6rem -0.1rem;
}

.list__star {
  font-size: 35px;
  color: $secondary-color;
  cursor: pointer;
  margin: -3px 0 0 0;
  transition: color .2s ease-in-out;
}

.list__star:hover,
.list__star:hover~.list__star {
  color: $accent-color;
}

.list[data-total-value="1"] .list__star:nth-child(n + 5),
.list[data-total-value="2"] .list__star:nth-child(n + 4),
.list[data-total-value="3"] .list__star:nth-child(n + 3),
.list[data-total-value="4"] .list__star:nth-child(n + 2),
.list[data-total-value="5"] .list__star:nth-child(n + 1) {
  color: $accent-color;
}

.list__star--checked {
  color: $accent-color;
}

// Comment&Photo
.fb-comment__text {
  width: 100%;
  height: 10rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 1.2rem;
  margin-top: 0.8rem;
  resize: none;
  background-color: #fafafa;
  border: .1rem solid #EAECF0;
  border-radius: .6rem;

  &::placeholder {
    color: #7F899E;
  }
}

.fb-comment__count {
  display: block;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: right;
  color: #7F899E;
  margin: 0 1.6rem 1.6rem 0;
  margin-top: 0.1rem;
  margin-bottom: 1.6rem;
}

.fb-comment__attach {
  display: flex;
  margin-bottom: 2.4rem;
}

.fb-comment__attach input {
  position: absolute;
  left: -9000px;
}

.fb-comment__attach-block {
  width: 80px;
  height: 80px;
  border-radius: .6rem;
  overflow: hidden;
}

.fb-comment__attach-block:not(:last-child) {
  margin-right: 0.8rem;
}

.fb-comment__added-img {
  position: relative;

  &:hover .delete {
    visibility: visible;
    opacity: 1;
  }
}

.delete {
  visibility: hidden;
  opacity: 0;
  padding: 0;
  border: none;
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  background: #000;
  top: 0.8rem;
  right: 0.8rem;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6) url('/img/delete.svg') center center no-repeat;
  border-radius: 4px;
  transition: opacity .2s ease-in-out;
}

.fb-comment__attach-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9AA2B7;
  font-size: 3rem;
  padding-bottom: 1px;
  border: .1rem solid $secondary-color;
  background: #F3F4F6;
  cursor: pointer;
  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: darken(#F3F4F6, 2.5%);
  }
}

// form-footer
.form-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 1.6rem;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: -3.2rem;
    top: 0;
    width: 120%;
    height: .1rem;
    background-color: $secondary-color;
  }
}

@media screen and (max-width: 500px) {
  .popup {
    padding-top: 5.6rem;
    background: rgba($color: #000, $alpha: .66);
  }

  .form-header {
    padding: 1.6rem 2rem 1.6rem 1.6rem;

    &:after {
      left: 50%;
      transform: translateX(-50%);
      top: .4rem;
      width: 2.4rem;
      height: .3rem;
      border-radius: .4rem;
      background-color: #CFD3DD;
    }
  }

  .form-header__title {
    display: none;
  }

  .form-header__title--mobile {
    display: inline;
  }

  .fb {
    padding: 0 1.6rem;
  }

  .fb__info {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2.4rem;
  }

  .fb__preview-img {
    width: 8.4rem;
  }

  .fb__description {
    padding: 1.4rem 0 0 0;
  }

  .fb__work-name {
    margin-bottom: 0.4rem;
  }

  .fb__rating {
    grid-template-areas: "stars__item";
  }

  .list {
    max-width: 18rem;
    margin: 0 0 1.2rem -0.1rem;
  }
}